*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
   background-image: radial-gradient(green,black);

}
.root{
    border: 2px solid white;
    
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    margin-top: 50px;
     padding: 20px;
     padding-right: 40px;
     padding-left: 55px;
     border-radius: 30px;
     background:transparent;
     
}
#textfield{
    border-radius: 10px;
    background-color:transparent;

}
#addbtn{
    border-radius:10%;
    background-color:transparent;
    margin-right: 50px;
    cursor: pointer;
}
.div{
    text-align: left;
}
li{
    list-style: none;
}
#textfield {
    width: 200px;
    height: 30px;
  }
  
  #addbtn {
    width: 80px;
    height: 30px;
  }
  li{
    padding: 5px;
  }
  